/** @format */

.form-container {
  max-width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 0.2rem solid transparent;
  padding: 3.2rem 2.4rem;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  border-radius: 1.6rem;
  margin-bottom: 4rem;

  button:active {
    scale: 0.95;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      // margin-bottom: 1rem;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: #717171;
        font-weight: 600;
        font-size: 1.2rem;
      }

      input,
      textarea {
        width: 100%;
        padding: 1.2rem 1.6rem;
        border-radius: 8px;
        color: #fff;
        background-color: transparent;
        border: 0.1rem solid #414141;
        font-family: inherit;

        &::placeholder {
          opacity: 0.5;
        }

        &:focus {
          outline: none;
          border-color: #e81cff;
        }
      }

      textarea {
        resize: none;
        height: 9.6rem;
      }
    }
  }

  .form-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .form-submit-btn {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      align-self: flex-start;
      font-family: inherit;
      color: #717171;
      font-weight: 600;
      width: 40%;
      background: #313131;
      border: 0.1rem solid #414141;
      padding: 1.2rem 1.6rem;
      font-size: inherit;
      gap: 0.8rem;
      margin-top: 0.8rem;
      cursor: pointer;
      border-radius: 0.6rem;

      &:hover {
        background-color: #fff;
        border-color: #fff;
      }
    }

    .form-cancel-btn {
      background-color: transparent;
      outline: none;
      border: none;
      color: rgba(174, 173, 173, 0.498);
      border-bottom: 1px solid rgba(174, 173, 173, 0.498);
      padding: 1.2rem 1.6rem;
      cursor: pointer;
      &:hover {
        color: var(--pink-beige);
        border-color: var(--pink-beige);
        transition: all 0.2s ease;
      }
    }
  }
}
